body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo {
  margin-right: 1500px;
  padding: 10px;
}

.rightColumn img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
}

.Tile {
  background-color: rgb(250, 225, 178);
    padding: 0 2em 1em;
    border:2px darkgoldenrod solid;
    border-radius: 2em;
    margin:1em;
}