h2{width: 230px;
  height:200px;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  line-height: 250px;
  text-align: center;
  background: gray;
}

p{
  font-size: 150%;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0;
}

.App-link{
  float: right;
}
.BubbleList ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: row; */
  flex-flow: row wrap-reverse;
  /* flex-wrap: wrap-reverse; */
  align-items: center;
}
li{
  margin: 0.1em;
  padding: 0.1em;
}
/* .BubbleList{
    /* position: absolute; */
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; */
    /* display:flex;
    width:300px;
    position: relative;
    flex-wrap: wrap; */

/*  */
/* #menu ul li{
  display:inline-block;
} */ 
/* .animate__bounceOut{
  animation-duration: 2s;
  animation-iteration-count: infinite;
} */