h2{width: 250px;
  height: 250px;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  line-height: 250px;
  text-align: center;
  background: gray;
}

p{
  font-size: 150%;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0;
}

.App-link{
  float: right;
}

.BubbleList{
    /* position: absolute; */
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; */
}

ul#menu li{
  display:inline;
}
.animate__bounceOut{
  animation-duration: 2s;
  animation-iteration-count: infinite;
}