@media sreen and(max-width: 400px){
.animate__fadeOutUp{
  width: 100%;
}
}
h2{width: 200px;
  height:200px;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  line-height: 250px;
  text-align: center;
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p{
  font-size: 150%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
}

.App-link{
  float: right;
  border-color: #2196F3;
  color: dodgerblue;
  font-size: 30px;
  margin-right: 20px;
}
.BubbleList ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 0;
  display: flex;
  /* flex-direction: row; */
  flex-flow: row wrap-reverse;
  /* flex-wrap: wrap-reverse; */
  align-items: flex-end;
  width: max-content;
}
li{
  margin: 0.1em;
  padding: 0.1em;
 
}

.App-link:hover {
  background: #2196F3;
  color: white;
}

#menu{
  columns: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto; /* can change this */
  width: 1000px;
  list-style-type: none;
  margin: 0 auto;
}

#menu li {
  width: 250px;
  height: auto;
}

.animate__bounceOut{
  animation-duration: 5s;
}

 #menu ul li{
  position: relative;
  transform: translateX(-240px);
} 
.animate__fadeOutUp{
  /* animation-delay: 3s; */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation: bounce 0.9s;
}
@keyframes bounce{
  10%{
    transform: translateY(240px);
  }
}