.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
  text-decoration: underline;
}
/* rotate image */
.animate__rotateIn {
  display: block;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}
