@media only screen and (max-width: 600px) {
  body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  /* background-color: #282c34; */
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  font-size: 20px;
  color: white;
}

/* two column grid layout for each page */
.wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
}

/* button style for buttons on the different pages */
button{
  background-color: #62666E;
  color: white;
  text-align: center;
  border: none;
  outline: none;
  padding: 10px 32px;  
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

/* join button alignment for landing page */
.join{
  margin-left: 50px;
  margin-top: 2%;
}

/* add friend button on the left*/
.addFriendbtn{
  margin-right: 730px;
  margin-top: 20px;
}

/* input field for all the pages */
input{ 
 border-bottom: 1px solid grey;
 border-top: none;
 border-left: none;
 border-right: none;
 background-color: #F2F2F2;
 width: 400px;
 margin-bottom: 60px;
 font-size: large;
 margin-right: 30%;
}

.checkboxes {
  display: block;
  text-align: left;
  margin-top: 30px;
}

.checkboxes input{
  width: 30px;
  margin-right: 0px;
  margin-left: 460px;
}

.checkboxes label{
  position: relative;
  margin-left: none;
  width: 20px;
  color: black;
}

/* input feild focus removed */
input:focus{
  outline: none;
}


h3 {
  color: black;
}

h2 {
  color: black;
  margin-right: 400px;
}

h1 {
  color: black; 
 }

table {
  position: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: black;
}

td {
  border: 1px solid grey;
}

.borrowRight table{
  margin-top: 147px;
}

.wrapper {
  color: black;
}

.container {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* .container .btn {
  position: absolute;
  top: 82%;
  left: 44%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #62666E;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} */
 
textarea{
  outline: none;
  background-color: #F2F2F2;
  margin-right: 30%;

}


.cancel {
  color: gray;
  margin-right: 10px;
}

.back-button_title {
  display: inline-flex;
  margin-left: -200px;
  margin-bottom: 100px;
}

.back-button_title img{
  width: 50px;
  height: 50px; 
  margin-top: 30px;  
  margin-left: -200px;
  margin-right: 15px;
}

.back-button_title h1 {
  margin-top: 30px;
  margin-right: 15px;
}

span{
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
  margin-right: 3%;
}

.yourshare {
  margin-top: 20%;
  margin-bottom: 30%;
}

.title {
  display: grid;
  text-align: left;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.form{
  margin-top: 5%;
}

